body{
    background-color:darkcyan ;
    display: flex;
    align-items: center;
}

.container{
    display: flex;
    width: 60%;
    margin: auto;
    margin-top: 12rem;
    align-items: center;
}




.fill{
    /*  the following generate the fixed image*/ 
    /*background-image: url("https://source.unsplash.com/150x141") ; */
    /*   the following generate the random image*/
    background-image: url("https://source.unsplash.com/random/1050x501");
}


.hold{
    border:2px dashed gray;
}
div div{
    border: 2px solid black;
    background-color: white;
    width: 150px;
    height: 141px;
    margin: 0px 7px;
}


.boxHover{
    background-color: black;
    border: 2px dotted white;
}